@use 'variables' as *;

.icon {
    width: 30px;
}

.logo {
    width: 200px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    color: $light;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid $dark;
    font-family: $afacad;
    font-size: $regular-text-mobile;
    box-shadow: $box-positive;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.button:active {
    box-shadow: $box-negative;
}