// colors.
$dark: #0f0f0f;
$light: #fcfcfc;
$green: #4fb286;
$blue: #336699;

//fonts.
$afacad: 'Afacad';

@font-face {
  font-family: 'Afacad';
  src: url('../../assets/fonts/afacad.ttf');
}

// styles shadow.
$box-positive: 4px 2px 2px $dark;
$box-positive: -2px -2px 1px $dark;