// colors.
$dark: #0f0f0f;
$light: #fcfcfc;
$green: #4fb286;
$blue: #336699;

//fonts.
@font-face {
  font-family: 'Afacad';
  src: url('/student014/shop/assets/fonts/afacad.ttf');
}

$afacad: 'Afacad';

//font sizing.
$regular-text-mobile: 20px;
$small-text-mobile: 16px;
$regular-text-tablet: 24px;
$small-text-tablet: 20px;
$regular-text-desktop: 28px;
$small-text-desktop: 24px;

// styles shadow.
$box-positive: 4px 2px 2px $dark;
$box-negative: -2px -2px 1px $dark;