@use 'variables' as *;
@use 'mixins' as *;
@use 'common' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vH;
    font-family: $afacad;
    font-size: $regular-text-mobile;
    color: $dark;
}

/*   --- MAIN ---   */

main {
    display: flex;
    flex-direction: column;
    background-color: $green;

    .details {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    section {
        border-top : 1px solid $dark;
        border-bottom : 1px solid $dark;
        padding: 20px;

        .product {
            display: flex;
            justify-content: space-around;

            .product-details {

                img {
                    width: 150px;
                    aspect-ratio: 4/5;
                }

            }

            .btnQuantity {
                background-color: $light;
            }

            .btnDelete {
                display: flex;
            }

        }

    }

    aside {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;

        .price {
            // display: flex;
            // flex-direction: column;
            // justify-content: end;
            text-align: end;
        }

        button {
           display: flex;
            flex-direction: column;
            align-items: center; 
        }
    }

}