<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tailwind/products-output.css">
  <title>Products</title>
  <link rel="icon" href="../assets/iconos/icon-TW.jpg" type="jpg">
</head>
<body class="text-xl text-dark font-afacad md:text-2xl lg:text-[28px]">
  <header class="flex items-center justify-between px-5 bg-light">
        <div class="menuHeader">
            <img class="icon absolute right-1.5 top-1.5" id="btnCloseMenu" src="../assets/iconos/close_24dp_0F0F0F.png" alt="close-icon">
            <ul class="flex flex-col gap-2.5">
                <li><a href="#">Home</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Carrito</a></li>
            </ul>
            <div class="flex flex-col items-center">
                <button class="button">Entrar</button>
                <button class="button">Regístrarme</button>
            </div>
        </div>
        <nav class="md:hidden">
            <img id="btnMenu" class="icon" src="../assets/iconos/menu_24dp_0F0F0F.png" alt="menu">
        </nav>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <div class="md:flex md:gap-2 lg:gap-10">
            <div class="hidden md:flex">
                <img class="icon lg:hidden" src="../assets/iconos/home_24dp_0F0F0F.png" alt="home">
                <span class="headerNavText">Home</span>
            </div>
            <div class="hidden md:flex">
                <img class="icon lg:hidden" src="../assets/iconos/wishlist.png" alt="wishlist">
                <span class="headerNavText">Wishlist</span>
            </div>
            <div class="hidden md:flex">
                <img class="icon lg:hidden" src="../assets/iconos/shopping_cart_24dp_0F0F0F.png" alt="cart">
                <span class="headerNavText">Carrito</span>
            </div>
            <div class="hidden user md:flex">
                <img class="icon lg:hidden" src="../assets/iconos/person_24dp_0F0F0F.png" alt="user">
                <span class="headerNavText">Cuenta</span>
            </div>
            <img class="icon" src="../assets/iconos/search_24dp_OFOFOF.png" alt="search">
        </div>
    </header>
    <main class="bg-green flex flex-col p-5 gap-5 md:p-10 md:gap-10">
        <p class="">breadcrumbs > breadcrumb</p>
        <div class="flex flex-col gap-5 md:gap-10 lg:flex-row justify">
            <div class="flex flex-col gap-5 md:gap-10">
                <img class="mx-auto w-3/4 border border-dark aspect-4/5 max-h-250" id="product-image" src="../assets/images/1.png" alt="product-image">
            </div>
            <div class="flex flex-col gap-5 md:gap-10">
                <div class="flex flex-col gap-1 md:gap-2">
                    <p>Nombre producto</p>
                    <p class="text-3xl md:text-4xl lg:text-5xl">9.99€</p>
                </div>
                <div class="flex flex-col gap-2 md:gap-2.5">
                    <p>Selecciona color</p>
                    <div class="flex gap-2.5 md:gap-5">
                        <button class="selectColorBtn bg-dark" id="btnBlack"></button>
                        <button class="selectColorBtn bg-light" id="btnWhite"></button>
                        <button class="selectColorBtn bg-[#D2AAA1]" id="btnOrange"></button>
                        <button class="selectColorBtn bg-[#A4A2A2]" id="btnGrey"></button>
                        <button class="selectColorBtn bg-[#353A26]" id="btnGreen"></button>
                    </div>
                </div>
                <div class="flex flex-col gap-2 md:gap-2.5">
                    <p>Selecciona tu talla</p>
                    <div class="size flex gap-2.5 md:gap-5">
                        <button class="selectSizeBtn">XS</button>
                        <button class="selectSizeBtn">S</button>
                        <button class="selectSizeBtn">M</button>
                        <button class="selectSizeBtn">L</button>
                        <button class="selectSizeBtn">XL</button>
                        <button class="selectSizeBtn">2XL</button>
                    </div>
                </div>
                <div class="flex flex-col items-start gap-2 lg:items-start">
                    <p>Cantidad</p>
                    <div class="flex items-center gap-2.5 rounded-full border border-dark  bg-light px-3 py-1">
                        <button class="btnMinus p-2 hover:cursor-pointer">-</button>
                        <span class="quantity p-2">1</span>
                        <button class="btnPlus p-2 hover:cursor-pointer">+</button>
                    </div>
                </div>
                <div class="flex flex-col items-center">
                    <button class="button">Añadir a la cesta</button>
                    <button class="button">Comprar ahora</button>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 md:gap-2.5">
            <p>Descripción</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim temporibus nam, eum, perferendis perspiciatis adipisci rem ratione molestias rerum illum aut expedita nihil dignissimos tempore ut ipsam tenetur non nisi.</p>
        </div>
        <div class="flex flex-col gap-5 md:gap-7.5">
            <p>También te gustará</p>
            <div class="flex items-center gap-2.5 md:gap-5">
                <img class="arrow-icon" id="btnLeft" src="../assets/iconos/chevron_left_24dp_OFOFOF.png" alt="left-arrow-icon">
                <div class="scrollbar" id="scrollContainer">
                    <img class="scrollbarImage" src="../assets/images/2.png" alt="product-image">
                    <img class="scrollbarImage" src="../assets/images/9.png" alt="product-image">
                    <img class="scrollbarImage" src="../assets/images/17.png" alt="product-image">
                    <img class="scrollbarImage" src="../assets/images/41.png" alt="product-image">
                    <img class="scrollbarImage" src="../assets/images/49.png" alt="product-image">
                </div>
                <img class="arrow-icon" id="btnRight" src="../assets/iconos/navigate_next_24dp_OFOFOF.png" alt="right-arrow-icon">
            </div>
        </div>
    </main>
    <footer class="pt-2.5 pb-7.5 bg-light flex flex-col items-center gap-5 md:gap-7.5">
        <img  class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="flex flex-col items-center gap-5 md:flex-row md:gap-10">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="flex gap-5 md:gap-7.5">
            <a href=""><img class="icon" src="../assets/iconos/facebook.png" alt="facebook-logo"></a>
            <a href=""><img class="icon" src="../assets/iconos/instagram.png" alt="instagram-logo"></a>
            <a href=""><img class="icon" src="../assets/iconos/twitter.png" alt="twitter-logo"></a>
        </div>
        <div class="text-base md:text-xl">
            <p>&copy; 2025 TeamWear. Todos los derechos reservados.</p>
        </div>
        <nav>
            <ul class="flex items-center gap-5 text-base md:text-xl md:gap-15">
                <li class="text-center"><a href="#">Información legal</a></li>
                <li class="text-center"><a href="#">Política de privacidad</a></li>
                <li class="text-center"><a href="#">Política de cookies</a></li>
            </ul>
        </nav>
    </footer>
    <script src="../js/products.js"></script>
</body>
</html>