<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/sass/"> -->
    <title>Shopping Cart</title>
    <link rel="icon" href="../assets/iconos/icon-TW.jpg" type="jpg">
</head>
<body>
    <header>
        <div>
            <img src="../assets/iconos/close_24dp_0F0F0F.png" alt="close-icon">
            <ul>
                <li>Home</li>
                <li>Wishlist</li>
                <li>Carrito</li>
            </ul>
            <div>
                <button>Entrar</button>
                <button>Regístrarme</button>
            </div>
        </div>
        <nav>
            <img src="../assets/iconos/menu_24dp_0F0F0F.png" alt="menu">
        </nav>
        <img src="../assets/images/logo.png" alt="logo">
        <div>
            <div>
                <img src="../assets/iconos/home_24dp_0F0F0F.png" alt="home">
                <span>Home</span>
            </div>
            <div>
                <img src="../assets/iconos/wishlist.png" alt="wishlist">
                <span>Wishlist</span>
            </div>
            <div>
                <img src="../assets/iconos/shopping_cart_24dp_0F0F0F.png" alt="cart">
                <span>Carrito</span>
            </div>
            <div>
                <img src="../assets/iconos/person_24dp_0F0F0F.png" alt="user">
                <span>Cuenta</span>
            </div>
            <img src="../assets/iconos/search_24dp_OFOFOF.png" alt="search">
        </div>
    </header>
    <main>
        
    </main>
    <footer>
        <img src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div>
            <a href=""><img src="../assets/iconos/facebook.png" alt="facebook-logo"></a>
            <a href=""><img src="../assets/iconos/instagram.png" alt="instagram-logo"></a>
            <a href=""><img src="../assets/iconos/twitter.png" alt="twitter-logo"></a>
        </div>
        <div>
            <p>&copy; 2025 TeamWear. Todos los derechos reservados.</p>
        </div>
        <nav>
            <ul class="flex items-center gap-5 text-base md:text-xl md:gap-15">
                <li><a href="#">Información legal</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de cookies</a></li>
            </ul>
        </nav>
    </footer>
    
    <script src=""></script>
</body>
</html>