.carta {
  position: relative;
}

.carta img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.carta .delante {
  transform: rotateY(90deg);
  position: absolute;
  border-radius: 100%;
}

.volteada {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volteada .delante {
  transform: rotateY(0deg);
}

/* this delay causes bug */
.carta .detras {
  transition: all ease-in 0.1s;
  /* transition-delay: 0.2; */
}

.volteada .detras {
  transform: rotateY(90deg);
  transition-delay: 0;
}