.matchup-card {
  width: min(200px);
  height: 300px;
  margin: 24px auto;
  padding: 10px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.matchup-card img {
  width: 100%;
  border-radius: 100%;
}

.picked-card {
  display: flex;
  flex-direction: column;
}

.matchup-select select, .matchup-result {
  font-size: 20px;
  font-weight: bold;
}