@import "tailwindcss";

@layer base {

  @font-face {
    font-family: "Afacad";
    src: url("../../assets/fonts/afacad.ttf");
  }

}

@theme {
  --color-dark: #0f0f0f;
  --color-light: #fcfcfc;
  --color-green: #4fb286;
  --color-blue: #336699;
  --box-positive: 4px 2px 2px var(--color-dark);
  --box-negative: -2px -2px 1px var(--color-dark);
  --font-afacad: "Afacad", sans-serif;
}

@layer components {

  .headerNavText {
    @apply hidden hover:cursor-pointer lg:flex;
  }

  .logo {
    @apply w-50
    md:w-75 lg:w-100;
  }

  .icon {
    @apply w-7.5
    hover:cursor-pointer
    md:w-10;
  }

  .arrow-icon {
    @apply border rounded bg-light w-12
    hover:cursor-pointer
    md:w-14 lg:w-16;
  }

  .button {
    @apply flex items-center justify-between
    bg-blue text-light mx-2.5 my-5 px-5 py-2.5
    rounded-3xl border border-solid border-dark
    text-xl shadow-(--box-positive)
    hover:cursor-pointer hover:scale-110
    active:shadow-(--box-negative)
    md:text-2xl
    ;
  }

  .menuHeader {
    @apply hidden absolute left-2.5 top-2.5 z-10
    flex-col items-center gap-7.5 bg-light
    border border-solid border-b-dark p-5 ;
  }

  .selectColorBtn {
    @apply h-8 w-8 rounded-full border border-dark
    hover:cursor-pointer
    md:h-10 md:w-10 lg:h-12 lg:w-12;
  }

  .selectSizeBtn {
    @apply w-10 h-10
    rounded border border-dark bg-light p-1
    hover:cursor-pointer
    md:h-12 md:w-12 lg:h-14 lg:w-14;
  }

  .scrollbar {
    @apply flex justify-start gap-5
    overflow-scroll scroll-smooth
    hover:cursor-grab
    md:gap-7.5;
  }

  .scrollbarImage {
    @apply h-60 aspect-4/5
    md:h-80 lg:h-100;
  }

}