.App {
  max-width: 100vH;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  gap: 15px;
}

.title {
  color: #fcfcfc;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 76, 138);
  color: #fcfcfc;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #0f0f0f;
  font-family: "Afacad";
  font-size: 20px;
  box-shadow: 4px 2px 2px #0f0f0f;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  box-shadow: -2px -2px 1px #0f0f0f;
}

.grid-carta {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}