@font-face {
  font-family: "Afacad";
  src: url("/fonts/afacad.ttf");
}

* {
  font-family: "afacad";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(60, 60, 60);
}